{% macro render_user_form(url, status, treatment, users, data={}) %}
<div class="col-md-8 my-4 border border-white rounded" id="main">
    <div class="container text-center">
        <div class="col-sm">
            <div class="jumbotron">
                <h5 class="display-4">Редактирование</h5>
                <p class="lead">
                    <form method="POST" action="{{ url }}">

                        <div class="row my-3">
                            <label for="p2">message</label>
                            <input type="text" class="form-control" id="p2" value="{{ data.message or '' }}"
                                name="message">
                        </div>


                        {% if current_user.can('edit', record=users) %}
                        <div class="row my-3">
                            <label for="p6">username</label>
                            <select class="form-control" name="fio">
                                <!-- <option value=""> </option> -->
                                {% for user in users %}
                                <option value="{{ user.id }}" {% if user.id == data.пользователь %} selected
                                    {% endif %}>
                                    {{ user.FIO }} </option>
                                {% endfor %}

                            </select>
                        </div>

                        {% else %}

                        <div class="row my-3">
                            <label for="p6">username</label>
                            <select class="form-control" name="fio">
                                <!-- <option value=""> </option> -->
                                <option value="{{ current_user.id }}" selected>
                                    {{ current_user.fio }} </option>


                            </select>
                        </div>

                        {% endif %}


                        {% if current_user.can('edit', record=users) %}
                        <div class="row my-3">
                            <label for="p6">status</label>
                            <select class="form-control" name="status">
                                <!-- <option value=""></option> -->
                                {% for stat in status %}
                                <option value="{{ stat.id }}" {% if stat.id == data.status %} selected {% endif %}>
                                    {{ stat.status }} </option>

                                {% endfor %}

                            </select>
                        </div>

                        {% else %}

                        <div class="row my-3">
                            <label for="p6">status</label>
                            <select class="form-control" name="status">
                                <!-- <option value=""></option> -->

                                <option value="1" selected>
                                    Новое </option>



                            </select>
                        </div>



                        {% endif %}

                        <div class="row my-3">
                            <label for="p6">treatment</label>
                            <select class="form-control" name="treatment">
                                <!-- <option value=""> </option> -->
                                {% for treat in treatment %}
                                <option value="{{ treat.id }}" {% if treat.id == data.type %} selected {% endif %}>
                                    {{ treat.type }} </option>
                                {% endfor %}

                            </select>
                        </div>

                        <hr class="my-4">
                        <div class="row my-3">
                            <button type="submit" class="btn btn-info btn-lg btn-block"> Сохранить </button>
                        </div>

                    </form>

                </p>

            </div>
        </div>

    </div>
</div>
{% endmacro %}